body{
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

.contenido-main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}







/*                          estilos encabezado                 */


.encabezado-pagina-reservas{
    display: flex;
    flex-direction: row;
    margin: 50px auto 20px 0px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid #D4D4D4;
    width: 700px;
    
}

.opcion-encabezado-pagina-reserva{
    font-size: 1.2em;
    margin: 4px 0px 4px 0px;
    padding: 0px 12px 0px 12px;
    color: #5E5E5E;
    cursor: pointer;
}
.opcion-encabezado-pagina-reserva:hover{
    color: #1071E5;
}
.opcion-encabezado-pagina-reserva.ultimo{
    border-left: 1px solid #D4D4D4;
}
.opcion-encabezdo-selecionado{
    color: #1071E5;
}



/* ---------------------------------------estilo formulario de configuracion----------------------------*/



.formulario-configuracion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    padding-left: 50px;
    margin-top: 20px;
}

.seccion-input-configuracion{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.label-input{
    font-size: 17px;
    min-width: 105px;
    margin-right: 15px;
    margin-top: 0px;
}


.opcion-radio-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    margin-left: 10px;
}


.label-radio-btn{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.input-radio{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.contenedor-input-mensaje-error{
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-configuracion{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #a3a3a3;
    padding: 5px;
    font-size: 15px;
    outline: none;
}

.input-configuracion:hover{
    border:  1px solid #1071E5;

}

.input-configuracion:focus{
    border:  1px solid #1071E5;
}


#input-motivo{
    height: 100px;
    width: 350px;
    resize: none;
}

#input-motivo:focus::placeholder{
    color: transparent;
 }
 
 

#input-motivo::-webkit-scrollbar{
    width: 13px;
    border-radius: 15px;
}

#input-motivo::-webkit-scrollbar-thumb{
    background: #c5c5c5;
    border-radius: 5px;
    border: 3px solid white;
}


.btn-guardar-cambios{
    width: 170px;
    height: 30px;
    font-size: 17px;
    color: white;
    background-color: #1071E5;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

.btn-guardar-cambios:hover{
    background-color: #3a8bee;
}

.mensaje-error{
    font-size: 14px;
    position: absolute;
    left: 5px;
    bottom: -20px;
    margin: 0px;
    color: #f50000;
    white-space: nowrap;
}


.seccion-loader-configuracion{
    height: 100%;
    width: 100%;
}
.seccion-loader-historial{
    height: 60vh;
}




/*----------------------------------------------------------------------------------*/





/* ----------------------------------------- Estilo del historial -----------------------*/
.contenedor-tabla-historial{
    width: 97%;
    margin: 10px auto 10px auto;
    font-size: 14px;
}
.celda-tabla-historial{
    max-width: 195px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.celda-tabla-historial-motivo{
    text-align: start;
}

/*--------------------------------------------------------------------------------------*/


/* -------------------------------------------------- Estilos lista de reservas ----------------------*/
.contenedor-lista-reservas{
    height: 100px;
    width: 200px;
    background-color: #a8a4a4;
}


/*-------------------------------------------------------------------------------------------------------------*/


.oculto{
    display: none;
}